*{
	box-sizing: border-box;
}

body{
	margin:0;
	background:#6c6e70;
	font-family: 'Muli', sans-serif;
	font-size:1rem;
}

.page-wrap{
	width:85%;
	/*max-width:1100px;*/
	margin:0 auto;
	box-shadow:0 0 20px rgba(0,0,0,0.45);
	background:white;
}

.logo{
	width:25%;
	height:auto;
	margin-top:18px;
}

header{
	background-color:white;
	opacity: 0.8;
}

.nav-bar{
	background:#2c4051;
	box-shadow: 0px 13px 20px -3px rgba(0,0,0,0.75);
}

.nav-bar ul{
	list-style:none;
	text-align:right;
	margin:0px;
	padding: 15px 10px;
	font-family: 'Raleway', sans-serif;
}

.nav-bar li{
	display:inline-block;
	margin-right:10px;
	text-shadow: 1px 1px 2px black;
}

.nav-bar a{
	text-decoration:none;
	color:white;
	text-transform:uppercase;
}

.nav-bar a:hover{
	color:lightblue;
}

.fixed-header{
	width:85%;
	position:fixed;
	z-index: 1;
}

.featured_img{
	width:100%;
	height:auto;
	display:block;
	margin:0px;
	box-shadow: -1px 10px 22px -5px rgba(56,55,56,0.74);
}

.feature{
	padding:15px 50px;
	width:33.333333%;
	float:left;
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
}

.feature a{
	color:#2E4254;
	text-decoration: none;
	margin-bottom: 1px solid black;
}

.feature a:hover{
	color:#900C3F;
}

.feature p{
	font-size:0.9rem;
	line-height: 1.5;
}

.feature-title{
	margin-bottom: 1px solid black;
}

h3{
	font-size:1.3rem;
	font-family: 'Libre Franklin', sans-serif;
	text-align:center;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

h3 a{
	padding-bottom: 5px;
	border-bottom: 3px solid lightblue;
}


/*.section-header{
	font-size:4rem;
	position:relative;
	left:1120px;
	top:450px;
}*/

h2{
	font-family: 'Libre Franklin', sans-serif;
	font-size:1.2rem;
	border-bottom:0.5px solid black;
	letter-spacing: 0.3px;
}

/*code for parallax website-demo*/
.container{
	max-width:900px;
	margin: 0 auto;
}

.module h2{
	margin-bottom:40px;
	font-size:20px;
}

p{
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  text-align:justify;
}

.module p:last-child {
  margin-bottom: 0;
}

.module.content {
  padding: 30px 20px;
}

.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.module.parallax h1 {
  color: rgba(247, 250, 255, 0.8);
  font-size:54px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.module.parallax-1 {
  background-image: url("../images/about.jpg");
  clear:both;
}
.module.parallax-2 {
  background-image: url("../images/services.jpg");
}
.module.parallax-3 {
  background-image: url("../images/team.jpg");
}
.module.parallax-4 {
  background-image: url("../images/contact.jpg");
}

@media all and (min-width: 600px) {
  .module h2 {
    font-size: 42px;
  }
  .module p {
    font-size: 1.1rem;
  }
  .module.parallax h1 {
    font-size: 40px;
  }
}
@media all and (min-width: 960px) {
  .module.parallax h1 {
    font-size: 120px;
  }
}

#map{
	width:100%;
	height:400px;
}

form{
	padding:10px;
}

label{
	display:inline-block;
	width:150px;
	padding-right: 20px;
	vertical-align: top;
}

footer{
	clear:both;
	background-color:black;
	color:white;
	margin-bottom: 0px;
	padding:10px 20px;
	text-align: center;
	font-size:0.6875rem;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

/*MICRO CLEARFIX HACK*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

