*{
	box-sizing: border-box;
}

body{
	margin:0;
	font-family: 'Muli', sans-serif;
	font-size:1.1rem;
}
.page-wrap{
	width:80%;
	/*max-width:1100px;*/
	margin:0 auto;
	box-shadow:0 0 20px rgba(0,0,0,0.45);
	background:white;
}

h2{
	margin:0px;
}

.container{
	max-width:900px;
	margin: 0 auto;
}

.module lastchild{
	margin-bottom:0;
}

.module h2{
	margin-bottom:40px;
	font-size:20x;
}

p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

.module p:last-child {
  margin-bottom: 0;
}

.module.content {
  padding: 40px 0;
}

.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size:32px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.module.parallax-1 {
  background-image: url("../images/about.jpg");
}
.module.parallax-2 {
  background-image: url("../images/services.jpg");
}
.module.parallax-3 {
  background-image: url("../images/team.jpg");
}
.module.parallax-4 {
  background-image: url("../images/contact.jpg");
}

@media all and (min-width: 600px) {
  .module h2 {
    font-size: 42px;
  }
  .module p {
    font-size: 20px;
  }
  .module.parallax h1 {
    font-size: 40px;
  }
}
@media all and (min-width: 960px) {
  .module.parallax h1 {
    font-size: 90px;
  }
}